<div class="header-wrapper">
    <div class="logo-name">
        <div class="logo">
            <img src="" alt="">
        </div>
        <div class="name">
            <span>Selected name</span>
            <small>Online</small>
        </div>
    </div>
    <div class="more">
        <p>More</p>
    </div>
</div>

<div class="content-wrappper">
    <div class="chat" *ngFor="let obj of userChatList">
        <div class="from">
            <div class="from-text">
                <p>{{obj.from}}</p>
                <small>{{obj.fromDate}}</small>
            </div>
        </div>
        <div class="to">
            <div class="to-text">
                <p>{{obj.to}}</p>
                <small>{{obj.toDate}}</small>
            </div>
        </div>
    </div>
</div>

<div class="text-box">
    <app-text-box></app-text-box>
</div>