.header-wrapper{
    position: sticky;
    display: flex;
    justify-content: space-between;
    background-color:#f1f3f4;
    padding: 10px 0 0 10px;

    .logo-name{
        display: flex;
        .logo{
            border-radius:50%;
            height: 50px;
            width: 50px;
            background-color: #ddd;
        }
        .name{
            display: flex;
            flex-direction: column;
            padding-left: 8px;

            small{
                color: green;
            }
        }

    }
    .more{
        padding-right: 20px;
        p{
            cursor: pointer;
            background-color: #3eb005;
            color: #fff;
            padding: 6px 15px;
            border-radius: 8px;
            margin-top: 5px;

        }
        p:hover{

        }
    }
}
.content-wrappper{
   background-color: #d6ebf5;
    height: 100vh;
    .chat{
        
        .to{
            display: flex;
            justify-content:flex-end;

            .to-text{
                background-color: #f1f3f4;
                border-radius: 8px;
                padding: 10px;
                margin-right: 1em;
                P{
                    margin: 0;
                }
                small{
                    float: right;
                    font-size: .6em;
                }
            }
            // flex-direction: flex-end;
            
        }
        .from{
            display: flex;
            justify-content:flex-start;
            position: relative;

            .from-text{
                background-color: burlywood;
                border-radius: 8px;
                padding: 10px;
                margin-left: 1em;
                margin-top: .8em;
                P{
                    margin: 0;
                    font-size: .9em;
                }
                small{
                    float: right;
                    font-size: .6em;
                }
            }
            // .from-text::before{
            //     border: 2px solid;
            //     content: '';
            //     width: 0;
            //     height: 0;
            //     position: absolute;
            //     border: 15px solid transparent;
            //     border-top: 0;
            //     border-bottom: 15px solid red;
            //     left: -7px;
            //     top:30px;
            //     width: 0;
            //     transform: rotate(-90deg);
            // }
            // flex-direction: flex-end;
            
        }
    }

}
.content-wrappper:hover{
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.text-box{
    position: fixed;
    bottom: 0;
    padding: 10px;
    width: 68%;
    background-color: #f1f3f4;
    
}