.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    width: 100%;
    height: 100%;

    .card-1{
        padding: 10px;
        font-size: 2em;
        
    }
}